.cycles { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    
}

.cycleDots {
 display: flex;
 gap: .8rem;
}

.cycleDot {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
}

.wordTime {
    background-color: var(--warning);
}

.shortBreakTime {
    background-color: var(--success);
}

.longBreakTime {
    background-color: var(--info);
}